
/*
.gridRow {

    border: 1px solid black;

}


.cell {

    border: 1px solid black;
}

*/

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {

    display: grid;
    grid-gap: 0.2em;
    grid-template-rows: repeat (var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: rgb(0, 128, 128);
    width: 960px;
    height: 960px;
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    background-color: rgb(198, 212, 145);
    }


.grid-item:hover {
    color: blue;
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}


.top-div {
    background-color: rgb(105, 52, 204);
     
}


.restart-button {
    background-color: rgb(105, 52, 204);
    color: white;
}

.div-but {

    background-color: red;
    height: 50px;
}

div.cursors div {

    position: absolute;
    top: 300px;
    left: 300px;
    width: 32px;
    height: 32px;
    background-color: rgb(14, 92, 182);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
    transform: translate(10%, 10%);

}

.subContainer {

    display: grid;
    grid-gap: 0.2em;
    grid-template-rows: repeat (var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: rgb(0, 128, 128);
    width: 960px;
    height: 960px;
}

.gridy-item {
    padding: 1em;
    border: 1px solid #050000;
    text-align: center;
    background-color: rgb(163, 152, 230);
}

.gridy-item:hover {
    color: rgb(7, 7, 216);
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}